*{
    color: #FFF;
}


.paragraphs{
    display: flex;
    justify-content: space-between;
    
}

.home-title {
    font-size: 50px;
    margin: 50px;
    text-align: center;
}
body {
    background-color: #0094ff;}

.paragraph-title{
    color:#00171F;
}

.left-paragraph{
    margin: 0 auto;
    width: auto;
    height: fit-content;
    text-align: left;
    
}

.right-paragraph{
    text-align: right;
    margin: 0 auto;
    width: auto;
    height: fit-content;
}

button {
    color: black;
  }
  